
.button {
    -fx-background-radius: 0;
    -fx-background-color: #333333;
}

.progress-bar .bar {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-padding: 1px;
    -fx-background-insets: 0;
    -fx-background-color: #f39c12;
}

.progress-bar .track {
    -fx-background-radius: 0;
    -fx-background-color: #c3c3c3;
}

.background {
    -fx-background-color: #f9f9f9
}

.check-box > .box {
    -fx-background-color: #f9f9f9;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-padding: 0
}

.check-box > .box > .mark {
    -fx-background-color: #f9f9f9;
    -fx-background-image: url("../resources/Orange.png");
    -fx-padding: 8;
    -fx-shape: null;
    -fx-background-repeat: no-repeat

}

.check-box:selected > .box > .mark {
    -fx-background-color: #f9f9f9;
    -fx-background-image: url("../resources/OrangeSelected.png");
    -fx-padding: 10;
    -fx-background-repeat: round
}

.label {
    -fx-text-fill: #333333;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.statusLabel {
    -fx-text-alignment: left;
    -fx-alignment: center-right;
}