.text-field {
    -fx-border-radius: 2;
    -fx-background-color: #f9f9f9;
    -fx-border-color: #95a5a6;
}

.pane {
    -fx-background-color: #f9f9f9;
    -fx-background-radius: 2;
}

.button {
    -fx-background-radius: 2;
    -fx-background-color: #3498db;
    -fx-text-fill: #f9f9f9;
    // if you are optimizing it for keyboard remove this so selected box can be shown
    -fx-focus-traversable: false; 
}

.label {
    -fx-text-fill: #333333;
}

#Icon {
    -fx-image: url(../resources/filetypes/default.png)
}